<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet"href="style.css">
    <title>dreamland</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
       
        </style>
  </head>
  

  <body class="p-3 m-0 border-0 bd-example">
    
    
    

   -->
  <div class="jumbotron">
    <div class="container text-center">
          
      
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=" ">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="entertainment/">entertaiment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactWithUs/">contact with us</a>
        </li>
          <li class="nav-item">
            <a class="nav-link disabled"> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"> </a>
      </li>
          
           
        <h1 style="color:rgb(255, 255, 255);font-family:Blackadder ITC">hello,welcome to</h1>
          <li class="nav-item">
            <a class="nav-link disabled"> </a>
          </li>
          <h1 title="hope you enjoy"style="color:white;font-family:Blackadder ITC;">dreamland</h1>
         
          <li class="nav-item">
              <a class="nav-link disabled"> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled"> </a>
              </li>
          <audio controls autoplay >
   
            
            <source src="..\static\Wind.mp3"  type="audio/mpeg">
          
          </audio>
         
      <div class="container">
        
        
        <div class="bubbles">
          
          <span style="--i:20;"></span>
          <span style="--i:22;"></span>
          <span style="--i:25;"></span>
          <span style="--i:18;"></span>
          <span style="--i:21;"></span>
          <span style="--i:15;"></span>
          <span style="--i:13;"></span>
          <span style="--i:26;"></span>
          <span style="--i:17;"></span>
          <span style="--i:13;"></span>
          <span style="--i:28;"></span>
          <span style="--i:11;"></span>
          
          <span style="--i:12;"></span>
          <span style="--i:24;"></span>
          <span style="--i:10;"></span>
          <span style="--i:14;"></span>
          <span style="--i:23;"></span>
          <span style="--i:18;"></span>
          <span style="--i:16;"></span>
          <span style="--i:19;"></span>
          <span style="--i:20;"></span>
          <span style="--i:22;"></span>
          <span style="--i:25;"></span>
          <span style="--i:18;"></span>
          <span style="--i:21;"></span>
          <span style="--i:15;"></span>
          <span style="--i:13;"></span>
          <span style="--i:26;"></span>
          <span style="--i:17;"></span>
          <span style="--i:13;"></span>
          <span style="--i:28;"></span>
     
    </div>
  </div>
</div>    
</div>
        <!-- <nav class="navbar bg"> -->
            <div class="container-fluid">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="make a wish" aria-label="Search">
                <a href="submit/"><button class="btn btn-primary btn-lg" type="button" style="background-color:rgb(255, 0, 128);font-size: x-large;font-family: Blackadder ITC;">submit wish</button></a>
            </form>
            </div>
        </nav>
    
      
    



    
    
   
  </body>
</html>
